*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
/* primmary styles */
.special-word{
    color: #eb661e;
}
/* nav section start */
nav{
    margin-left: 570px;
    padding-top: 25px;

}
nav ul li{
    list-style-type: none;
    float: left;
    margin-left: 25px;
}
nav li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #e7570a;
    border: 2px solid #e7570a;
    border-radius: 10px;
    transition: 0.4s;
    padding: 2px 2px;
    
}
nav a:hover{
    background-color: #e7570a;
    color: black;
}
/* section-1 start */
.section1{
    background-image: url(images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-ditails{
    text-align: right;
    padding-right: 150px;
    padding-top: 200px;
}
.banner-title{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    
    
}
.banner-discription{
    font-weight: 600;
    padding-bottom: 40px;
    color: rgb(42, 39, 39);
}
.banner-btn{
    width: 300;
    height: 40px;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ee702c;
    color: rgb(0, 0, 0);
}

/* section-2 start */
.section2{
    margin: 120px 100px;
    width: 900px;
}
.section2-main-div{
    display: flex;
    gap: 80px;
}
/* section2-img-div style*/
.person-img{
    width: 500px;
    height: 600px;
    
}
/* section2-ditails-div style*/
.section2-ditails{
    margin-top: 200px;
    padding-left: 200px;
    padding: 20px;
    height: 300px;
}
.section2-title{
    font-size: 35px;
    font-weight: 1000;
    padding-bottom: 10px;
    font-family: monospace;
}
.section2-discription{
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(126, 126, 126);
}

.list-data{
    color: rgb(84, 84, 84);
    list-style: none;
}
.list{
    width: 400px;
}

/* section3 start */

.section3{ 
    width: 1100px;
    margin-left: 80px;
    margin-right: 80px;
}
.section3-titel{
    width: 200px;
    margin: auto;
    font-size: 35px;
    margin-bottom: 30px;
}

/* plan's style */

.plans{
    display: flex;
    gap: 10px;
    width: 800px;
    height: 200px;
    margin-left: 20px;
    
}
.plan{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px gray;
}
.plan-img{
    height: 75px;
    width: 75px; 
    padding-bottom: 10px;
    display: block;
    margin: auto;
    padding-top: 15px;
}
.plan-title{
    width: 250px;
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 1000;
    text-align: center;
    
}
.plan-discription{
    font-size: 20px;
    text-align: center;
    color: gray;
    margin-bottom: 120px;
}
/* section4 start */
.section4{
    margin-top: 120PX;
    width: 1100px;
    margin-left: 80px;
    margin-right: 80px;
}
.section4-background{
    background: url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 800px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.section4-contant{
    margin: 20px 30px;
}
.gardient{
    background: linear-gradient(to left, rgb(255, 106, 0) rgb(250, 123, 11));
    width: 100%;
    height: 100%;
}
.section4-title{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding-top: 20px;
}
.section4-btn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 87, 10);
    color: rgb(0, 0, 0); 
}
/* footer section start */
footer{
    margin-top: 120px;
}
.footer-contants{
    display: flex;
    background-color: black;
    height: 60vh;
    padding-left: 80px;
}
/* footer contant-1 start */
.footer-contant-1{
    color: white;
    margin: 80px 100px ;
}
.contant-1-title{
    font-size: 35px;
    font-weight: 1000;
    padding-bottom: 20px;
}
.contant-1-discription{
    font-weight: 600;
    padding-bottom: 20px;
}
.contact-email{
    font-weight: 600;
    padding-bottom: 10px;
}
.contact-phone{
    font-weight: 600;
    color: rgb(255, 106, 0);
    padding-bottom: 20px;
}
/* footer contant-1-logo */
.social-logo{
    padding-left: 5px;
}
/* footer contant-2 start */
.footer-contant-2{
    color: white;
    margin-top: 80px;
    border-left: 2px solid #e7570a;
    height: 200px;
}
.contant-2-titel{
    font-size: 25px;
    font-weight: 1000;
    padding-bottom: 20px;
    margin-left: 20px;
}
.contant-2-input{
    margin-left: 20px;
    font-size: 18px;
    border: none;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.subscribe-btn{
    margin-left: 20px;
    width: 300;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(231, 87, 10);
    color: rgb(255, 255, 255)
    
}
